#container{
    width:400px;
    background: #ccc;
}
.more-link{
    display: inline-block;
    float: left;
    margin-right: 5px;
    padding:2px 5px;
}
.red{
    background: red;
}
button{
    width: 100px;
    height:50px;
}